body {
    font-family: Arial;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px; 
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;   
    height: auto;      
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
}

.email {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.submit-buttton {
    width: 100%;
    background-color: #ff9900;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.submit-button:hover {
    background-color: black;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider div {
    padding: 0 10px;
    font-size: 15px;
    color: black;
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.google-btn,
.github-btn,
.microsoft-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.google-btn,
.microsoft-btn {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.github-btn {
    border: none;
    color: white;
    background-color: #1b1f23;
}

.microsoft-btn img {
    vertical-align: middle;
}

.forgot-password a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    color: #0073e6;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.social-login img {
    height: 20px;
    width: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 80%;
        padding: 20px;
    }

    .container h2 {
        font-size: 22px;
    }

    .email {
        font-size: 13px;
    }

    .submit-buttton {
        font-size: 14px;
        padding: 9px;
    }
}

@media (max-width: 480px) {
    body {
        height: auto;  
        padding: 15px;
    }

    .container {
        width: 100%;
        padding: 18px;
        border-radius: 6px;
    }

    .container h2 {
        font-size: 20px
